<!DOCTYPE html>
<%-include('partials/head') %>
<link rel="stylesheet" href="CSS/index.css">
<title>Wheather App</title>
<link rel="stylesheet" href="css/weather.css">
<body>
    <div class="nav">
        <h1>Wheather APP</h1>
        <hr style="color:gray;" width="50%">
        <hr style="color:rgb(209, 194, 194);" width="30%">
    </div>
    <div class="containerDisplay">
        <p class="display"></p>
    </div>
     <div class="container">
         <p class="temp">Temperature:<span id="temp"></span></p>
         <p class="humidity">Humidity:<span id="humidity"></span></p>
         <p class="error"></p>
         <p class="humidity">Country:<span id="country"></span></p>
         <p class="humidity">timezone:<span id="timezone"></span></p>
         <p class="humidity">current weather:<span id="currentWeather"></span></p>
         
         
     </div>
    <form >
        <label for="city">City : </label>
        <input type="text" name="city" id="city">
        <button type="submit" id="submit">Submit</button>
    </form>
   


    <script src="js/weather.js"></script>
</body>
</html>